# Python
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# SQLite journals & local db
*.db-shm
*.db-wal
scratch_test_yks.db*
yks_kocluk.db

# Scratch & Temporary Folders
scratch/
backup/

# OS Specific
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json

# Logs
*.log

# Environment variables & secrets
.env
.env.*
